a {
  text-decoration: none;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.filters-main {
  background: white;
  padding: 84px 8px 16px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.content-section {
  max-width: 1040px !important;
  margin: 0 auto;
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: space-between;
  max-width: 1040px !important;
  margin: 0 auto;
}

.item-tile {
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: 150%;
  border-radius: 8px;
  margin-bottom: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
  max-width: 100%;
}
